// Colors
$dark-red: #CE5A51;
$red: #E29C97;

$dark-teal: #006666;
$teal: #77C9C9;

$dark-violet: #604577;
$violet: #BBA4D8;

// Fonts & Sizes
@import url('https://fonts.googleapis.com/css?family=Anton|Lato|Raleway');

$fs-h1: regular 10rem 'Anton', sans-serif;
$fs-h2: light 9rem 'Lato', sans-serif;
$fs-p: regular 1.5rem 'Raleway', sans-serif;

