// Colors
$dark-red: #CE5A51;
$red: #E29C97;

$dark-teal: #006666;
$teal: #77C9C9;

$dark-violet: #604577;
$violet: #BBA4D8;

// Fonts & Sizes
@import url('https://fonts.googleapis.com/css?family=Anton|Lato:300,400|Raleway');

h1 {
  font: 400 6.8rem 'Anton', sans-serif;
}
h2 {
  font: 300 5.1rem 'Lato', sans-serif;
}
p {
  font: 400 1.2rem 'Raleway', sans-serif;
}

//Breakpoints
@mixin breakpoint($point) {
  @if $point == laptop-l {
    @media screen and (max-width: 1600px) { @content ; }
  }
  @else if $point == laptop {
    @media screen and (max-width: 1400px) and (min-width: 1200px) { @content ; }
  }
  @else if $point == tablet {
    @media screen and (max-width: 1200px) { @content ; }
  }
  @else if $point == mobile {
    @media screen and (max-width: 460px) { @content ; }
  }
  @else if $point == mobile-xs {
    @media screen and (max-width: 340px)  { @content ; }
  }
}

@mixin transform() {
  transition: 0.2s ease-in all;
}
