//local variables
$box-width: 40%;
$box-height: 85%;

//keep body hidden untill loader fades
#fullpage {
  visibility: hidden;
  @include breakpoint(tablet) {
    overflow: hidden;
  }
}

//shorten landing on mobile
@include breakpoint(mobile) {
  #landing {
    margin-bottom: -24%;
  }
}

//bg boxes
%box {
  height: $box-height;
  left: (100%-$box-width)/2;
  position: absolute;
  top: (100%-$box-height)/2;
  width: $box-width;
  z-index: -10;

  @include breakpoint(tablet){
    height: 55%;
    left: auto;
    right: 0;
    top: 0;
    width: 55%;
  }
  @include breakpoint(mobile){
    height: 40%;
  }
}
.box-violet {
  @extend %box;
	background-color: $dark-violet;
}
.box-teal {
  @extend %box;
	background-color: $dark-teal;

  @include breakpoint(tablet) {
    left: 0;
    right: auto;
    width: 50%;
  }
}
.box-red {
  @extend %box;
	background-color: $dark-red;
}

//bg imgs
%bg-img {
  position: absolute;
  z-index: -5;

  img {
    width: auto;
    max-height: 100%;
  }
}

#longboard {
  @extend %bg-img;
  height: 96%;
  right: 24%;
  top: 0;

  @include breakpoint(tablet) {
    height: 60%;
    right: -5%;
  }
  @include breakpoint(mobile) {
    right: -7%;
    height: auto;
    width: 60%;
  }
}
#bob-ross {
  @extend %bg-img;
  bottom: 1rem;
  height: 65%;
  left: 20%;

  @include breakpoint(tablet) {
    bottom: auto;
    left: -10%;
    height: auto;
    top: 18%;
    width: 65%;
  }
  @include breakpoint(mobile) {
    top: 15%;
  }
}
#type-writer {
  @extend %bg-img;
  bottom: 1rem;
  height: 65%;
  right: 16%;

  @include breakpoint(tablet) {
    bottom: auto;
    top: 20%;
    right: -10%;
    width: 74%;
  }
  @include breakpoint(mobile) {
    right: -16%;
    top: 15%;
    width: 82%;
  }
}

//header box
.header-text {
  position: absolute;
  top: 13%;
  right: 70%;

  @include breakpoint(latop-l) {
    top: 10%;
  }
  @include breakpoint(laptop) {
    h1 {
      font-size: 5.5rem;
    }
    h2 {
      font-size: 4.5rem;
    }
  }
  @include breakpoint(tablet) {
    top: 8%;
    right: 62%;
    width: 30%;

    h1 {
      font-size: 6rem;
    }
    h2 {
      font-size: 4.5rem;
    }
  }
  @include breakpoint(mobile) {
    top: 5%;

    h1 {
      font-size: 3.2rem;
    }
    h2 {
      font-size: 2.1rem;
    }
  }
  @include breakpoint(mobile-xs) {
    h1 {
      font-size: 2.8rem;
    }
    h2 {
      font-size: 1.8rem;
    }
  }

}
.header-text-right {
  @extend .header-text;
  right: auto;
  left: 70%;

  @include breakpoint(tablet){
    left: 57%;
    top: 8%;
  }
}

//bold header
%main-header {
  line-height: 1;
  margin: 0;
  text-align: right;
  white-space: nowrap;

  @include breakpoint(tablet) {
    white-space: initial;
  }
}
.h1-violet {
  @extend %main-header;
  color: $violet;
}
.h1-teal {
  @extend %main-header;
  color: $teal;
  text-align: left;
}
.h1-red {
  @extend %main-header;
  color: $red;
}

//thin header (subheader)
%sub-header {
  margin: 0;
  float: right;
  white-space: nowrap;

  @include breakpoint(tablet) {
    line-height: 1;
    white-space: initial;
    float: none;
  }
}
.h2-white {
  color: white;
  @include breakpoint(tablet) {
    color: inherit;
  }
}
.h2-violet {
  @extend %sub-header;
  color: $dark-violet;
  @include breakpoint(tablet) {
    text-align: right;
  }
}
.h2-teal {
  @extend %sub-header;
  color: $dark-teal;
}
.h2-red {
  @extend %sub-header;
  color: $dark-red;
  @include breakpoint(tablet) {
    text-align: right;
  }
}

//paragraph
.description {
  padding: 0 2rem;
  position: absolute;
  right: 50% + ($box-width/2);
  text-align: right;
  top: 10%;

  @include breakpoint(laptop){
    p {
      font-size: 1rem;
    }
  }
  @include breakpoint(tablet){
    left: 50%;
    text-align: left;
    top: 62%;
    transform: translateX(-50%);
    right: auto;
    white-space: initial;
    width: 80%;

    p {
      font-size: 1.6rem;
    }
  }
  @include breakpoint(mobile){
    top: 50%;

    p {
      font-size: 1rem;
      margin: 10px 0 0 0;
    }
  }
  @include breakpoint(mobile-xs){
    p {
      font-size: 0.8rem;
    }
  }
}
.description-right {
  @extend .description;
  left: 50% + ($box-width/2);
  right: auto;
  text-align: left;

  @include breakpoint(tablet){
    left: 50%;
  }

}

//skill tags
%skill-tag {
  $tag-gap: 0.5rem;
  $tag-pad: 1rem;
  $tag-gap-l: $tag-gap - 0.2rem;
  $tag-pad-l: $tag-pad - 0.2rem;

  border-radius: 8px;
  color: white;
  display: inline-block;
  margin: $tag-gap $tag-gap 0 0;
  padding: 0.5*$tag-pad $tag-pad;
  font-size: 0.8rem;

  @include breakpoint(laptop) {
    font-size: 0.7rem;
    margin: $tag-gap-l $tag-gap-l 0 0;
    padding: 0.5*$tag-pad-l $tag-pad-l;
  }
  @include breakpoint(mobile) {
    font-size: 0.6rem;
    margin: $tag-gap-l $tag-gap-l 0 0;
    padding: 0.5*$tag-pad-l $tag-pad-l;
  }
  @include breakpoint(mobile-xs) {
    font-size: 0.56rem;
  }
}
.skill-tag-teal {
  @extend %skill-tag;
  background-color: $dark-teal;
}
.skill-tag-red {
  @extend %skill-tag;
  background-color: $dark-red;
}
.skill-tag-violet {
  @extend %skill-tag;
  background-color: $dark-violet;
}