//project contrainer
.project-container {
  padding: 0 4rem;

  @include breakpoint(mobile) {
    padding: 0 3rem;
    transform: translateX(1rem);
  }

  .project-element {
    @include breakpoint(tablet) {
      margin: 4rem 5%;
      width: 90%;

      &:first-child {
        margin-top: 0;
      }
    }
    @include breakpoint(mobile) {
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      width: 100%;
    }
  }
  .project-card {
    display: inline-block;
    position: relative;
    height: 18rem;
    width: 100%;

    h1 {
      font-size: 5rem;
    }
    h2 {
      font-size: 3.6rem;
    }
    @include breakpoint(tablet) {
      margin: 0 10%;
      width: 80%;
    }
    @include breakpoint(mobile) {
      height: 14rem;
      margin: auto;
      width: 100%;

      h1 {
        font-size: 3.4rem;
      }
      h2 {
        font-size: 2.6rem;
      }
    }
  }
  .project-card-reverse {
    @extend .project-card;
    h1 {
      text-align: left;
    }
    h2 {
      float: left;
    }
  }
  .project-body {
    font-size: 1rem;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }
    @include breakpoint(mobile) {
      font-size: 0.8rem;
    }
  }
  .project-tags {
    //compensate for the tag margin-top
    margin-top: -0.5rem;
    .skill-tag-violet {
      font-size: 0.7rem;

      @include breakpoint(tablet) {
        font-size: inherit;
      }
      @include breakpoint(mobile) {
        font-size: 0.6rem;
      }
      @include breakpoint(mobile-xs) {
        font-size: 0.5rem;
      }
    }
  }
  .project-btns {
    display: block;
    .btn-violet {
      background-color: transparent;
      border: 2px solid #604577;
      border-radius: 0.3rem;
      color: #604577;
      display: inline-block;
      padding: 0.6rem 1.4rem;
      text-decoration: none;
      transition: all 0.4s;
      margin-right: 1rem;
      &:hover {
        background-color: lighten($violet, 15);
      }

      @include breakpoint(laptop) {
        padding: 0.4rem 1.2rem;
      }
      @include breakpoint(tablet) {
        font-size: 1.6rem;
      }
      @include breakpoint(mobile) {
        font-size: 0.8rem;
        padding: 0.4rem 0.8rem;
      }
    }
  }
}
#pokemon {
  @extend %bg-img;
  background: url('../imgs/Pokemon.png') no-repeat;
  background-size: contain;
  left: 0;
  padding-top: 52%;
  bottom: 0;
  width: 50%;

  @include breakpoint(tablet) {
    padding-top: 48%;
    width: 45%;
  }
  @include breakpoint(mobile) {
    padding-top: 59%;
    width: 54%;
  }
}
#resume {
  @extend %bg-img;
  background: url('../imgs/Resume.png') no-repeat;
  background-size: contain;
  right: 0;
  padding-top: 60%;
  bottom: 0;
  width: 72%;

  @include breakpoint(tablet) {
    padding-top: 49%;
    width: 59%;
  }
  @include breakpoint(mobile) {
    padding-top: 62%;
    width: 74%;
  }
}
#web-app {
  @extend %bg-img;
  background: url('../imgs/Website.png') no-repeat;
  background-size: contain;
  left: 0;
  padding-top: 34%;
  bottom: 0;
  width: 61%;

  @include breakpoint(tablet) {
    padding-top: 31%;
    width: 56%;
  }
  @include breakpoint(mobile) {
    padding-top: 42%;
    width: 74%;
  }
}

//links
.icon-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translatex(-50%);
    width: fit-content;

    @include breakpoint(tablet) {
      top: 30%;
    }
    [class*='uk-width'] {
      width: auto;
    }
    a {
      color: transparent;
    }
    i {
      color: $dark-teal;
      font-size: 8rem;
      transition: all 0.4s;
      &:hover {
        color: darken($teal, 15);
      }
    }
}