#projects {
  
  //slider positioning
  .uk-slider {
    padding: 0 4rem;
    height: inherit;

    @include breakpoint(mobile) {
      padding: 0 3rem;
      transform: translateX(1rem);
    }
    .uk-position-relative {
      height: inherit;
      
      .uk-slider-container {
        margin: auto;
        height: 80%;
        padding-top: 10vh;
        width: 80%;

        .uk-slider-items {
          height: 100%;
        }
      }
    }
  }

  //background boxes for projects
  %project-box {
    height: 65%;
    left: 5%;
    top: 17.5%;
    width: 40%;
  }
  .box-violet, .box-teal, .box-red {
    @extend %project-box;
  }

  //image alignment
  %project-img {
    position: absolute;
    left: 0;
  }
  #pokemon {
    @extend %project-img;
    top: 13%;
    width: 44%;
  }
  #resume {
    @extend %project-img;
    top: 14%;
    width: 45%;
  }
  #web-app {
    @extend %project-img;
    top: 30.5%;
    width: 43%;
  }

  //text styling
  .uk-panel {
    width: 48%;

    h1 {
      @include margin(-2.5% null 0 null);
      font: 900 4.8rem 'Lato', sans-serif;
    }
    .project-h1-violet {
      color: $dark-violet;
    }
    .project-h1-teal {
      color: $dark-teal;
    }
    .project-h1-red {
      color: $dark-red;
    }

    h2 {
      @include margin(-2.5% null 0 null);
      font-size: 3.3rem;
    }
    .project-h2-violet {
      color: $violet;
    }
    .project-h2-teal {
      color: $teal;
    }
    .project-h2-red {
      color: $red;
    }
    p {
      font-size: 1rem;
    }
    .project-tags {
      //compensate for the tag margin-top
      margin-top: -0.5rem;
      .skill-tag-violet {
        font-size: 0.7rem;
  
        @include breakpoint(tablet) {
          font-size: inherit;
        }
        @include breakpoint(mobile) {
          font-size: 0.6rem;
        }
        @include breakpoint(mobile-xs) {
          font-size: 0.5rem;
        }
      }
    }
    %project-button {
      @include transform();
      text-decoration: none;
      font-size: 1rem;
    }
    .project-button-violet {
      @extend %project-button;
      color: $violet;

      &:hover {
        color: $dark-violet;
      }
    }
    .project-button-teal {
      @extend %project-button;
      color: $teal;

      &:hover {
        color: $dark-teal;
      }
    }
    .project-button-red {
      @extend %project-button;
      color: $red;

      &:hover {
        color: $dark-red;
      }
    }
  }

}

//links
.icon-container {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translatex(-50%);
    width: fit-content;

    @include breakpoint(tablet) {
      top: 30%;
    }
    [class*='uk-width'] {
      width: auto;
    }
    a {
      color: transparent;
    }
    i {
      color: $dark-teal;
      font-size: 8rem;
      transition: all 0.4s;
      &:hover {
        color: darken($teal, 15);
      }
    }
}